media_manager/__pycache__
media_manager/.env
test.py
media_manager/movies.db
media_manager/tv_shows
media_manager/movies
emails.xlsx
media_manager/test_directory
cw
media_manager/classes/__pycache__/
media_manager/not_uploaded/
media_manager/logs/
to/
media_manager/.env_linux
media.db
TODO
media_manager/admin/__pycache__
